/* KEY WORD */
.colorFFF673 {
    color: #39110C;
}

/* AD */
.colorFF8C00 {
    color: #C9180C;
}

/* AP */
.color99FF99 {
    color: #0C48C9;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}
