<html>
<head>
    <title>LoL Burst</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<script type="text/javascript" src="{{ url_for('static',filename='js/loading.js') }}"></script>
<body>
    <div class="row">
    </div>
    <div class="row">
    <div class="col s12 m6">
      <div class="card red lighten-3">
        <div class="card-content white-text">
          <span class="card-title">Timothy Blazek</span>
          <p>Bio</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card red lighten-3">
        <div class="card-content white-text">
          <span class="card-title">Noah Yoshida</span>
          <p>Bio</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6">
      <div class="card red lighten-3">
        <div class="card-content white-text">
          <span class="card-title">Edward Atkinson</span>
          <p>Bio</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
