<!DOCTYPE html>
<html>
<head>
    <title>LoL Burst</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<script type="text/javascript" src="{{ url_for('static',filename='js/loading.js') }}"></script>

<body>
    <div class="row">
    <div class="col s12 m7">
    {% if stats[0] %}
    <h2 class="header">Champion 1: {{ stats[0].name }}</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src= {{ stats[0].image }} >
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Attack Speed: {{ stats[0].attackspeed }}</p>
          <p>Critical Strike Percent: {{ stats[0].crit }}</p>
          <p>Attack Damage: {{ stats[0].attackdamage }}</p>
          <p>Ability Power: {{ stats[0].magicdamage }}</p>
          <p>Armor: {{ stats[0].armor }}</p>
          <p>Magic Resistance: {{ stats[0].spellblock }}</p>
          <p>Health: {{ stats[0].hp }}</p>
          <p>Mana Pool: {{ stats[0].mp }}</p>
          <p>Movement Speed: {{ stats[0].movespeed }}</p>
          <p style="color:gold">Gold Spent: {{ stats[0].gold }}</p>
        </div>
      </div>
    </div>
    {% endif %}
    {% if stats[1] %}
      <h2 class="header">Champion 2: {{ stats[1].name }}</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src= {{ stats[1].image }} >
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <p>Attack Speed: {{ stats[1].attackspeed }}</p>
              <p>Critical Strike Percent: {{ stats[1].crit }}</p>
              <p>Attack Damage: {{ stats[1].attackdamage }}</p>
              <p>Ability Power: {{ stats[1].magicdamage }}</p>
              <p>Armor: {{ stats[1].armor }}</p>
              <p>Magic Resistance: {{ stats[1].spellblock }}</p>
              <p>Health: {{ stats[1].hp }}</p>
              <p>Mana Pool: {{ stats[1].mp }}</p>
              <p>Movement Speed: {{ stats[1].movespeed }}</p>
              <p style="color:gold">Gold Spent: {{ stats[1].gold }}</p>
          </div>
        </div>
      </div>
    {% endif %}
    {% if not stats[1] and not stats[0] %}
    <p>No present champion data, enter champions under the <b>Champion and Itemization</b> tab above</p>
    {% endif %}
</div>
</div>
</body>


<script type="text/javascript" src="{{ url_for('static',filename='js/autocomplete.js') }}"></script>

</html>
