<html>
<head>
    <title>LoL Burst</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<script type="text/javascript" src="{{ url_for('static',filename='js/loading.js') }}"></script>

<body>
    <p>This is the stats page</p>
</body>
</html>
